
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    var list = ViewBag.list as List<UserModel>;
}


@*<div id="app-7">
        <ol>
            <todo-item v-for="item in userList"
                       v-bind:todo="item"
                       v-bind:key="item.UserCode">
            </todo-item>
        </ol>
        <button v-on:click="addUser">新增</button>
    </div>*@

<form class="layui-form">
    <div class="layui-panel-window">
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">搜索选择框</label>
        <div class="layui-input-inline">
            <select name="modules" lay-verify="required" lay-search="">
                <option value="">直接选择或搜索选择</option>
                <option value="1">yerlayerlayerlayerlayr</option>
                <option value="2">form</option>
                <option value="3">layim</option>
                <option value="4">element</option>
            </select>

        </div>
    </div>

    <table id="user-table" class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="200">
        </colgroup>
        <thead>
            <tr>
                <th class="arrow asc" v-click>用户编号</th>
                <th>用户名称</th>
                <th>生日</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in userList">
                <td>{{ item.UserCode }}</td>
                <td>{{ item.UserName }}</td>
                <td>{{ item.Birthday }}</td>
            </tr>
        </tbody>
    </table>
</form>


@section scripts{
    <script src="/Scripts/vue.component.js"></script>
    <script>
        var list = $.parseJSON('@Html.Raw(list.ToJson())');
        var form;
        layui.use('form', function () {
            form = layui.form;
            form.render();
        });

        $(function () {

            Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{ todo.UserName }}</li>'
            });

            var userTable = new Vue({
                el: '#user-table',
                data: function () {
                    return {
                        userList: list
                    }
                },
                filters: {
                    capitalize: function (str) {
                        return str.charAt(0).toUpperCase() + str.slice(1)
                    }
                },
                methods: {
                    sortBy: function (key) {
                        this.sortKey = key
                        this.sortOrders[key] = this.sortOrders[key] * -1
                    }
                }
            });
            
    });
    </script>
}

@section styles{
    @Html.Partial("~/Views/Shared/_StylesPartal.cshtml", "LayUI")
}
